body {
  background-image: url("../images/what-the-hex-dark.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin-top: 5px;
}

.hide {
  display: none;
}

#container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: 300%;
  color: white;
  font-family: "Jua", sans-serif;
  margin-top: 100px;
  margin-bottom: 50px;
}

#start {
  font-size: 200%;
  padding: 5px 30px;;
  cursor: pointer;
  font-family: "Jua", sans-serif;
  color: chocolate
}

ul li {
  color: black;
}

ul li input {
  margin-right: 10px;
}

.header {
  font-size: 20px;
  margin-bottom: 20px;
}

#done {
  margin-bottom: 30px;
  font-size: 200%;
  padding: 5px 30px;;
  cursor: pointer;
  font-family: "Jua", sans-serif;
  color: chocolate
}

.jumbotron {
  margin-top: 10px;
  color: black;
  text-align: center;
}